_cmp_snap_*.xml
_det_snap_*.xml
_diag_snap_*.xml
_oracle_cem_snapshot.xml
_oracle_multi_snap.xml
outputs/
_ovg_snap_*.xml
_pvb_snap_*.xml
_pvm_snap_*.xml
*.pyc
__pycache__/
_switchpen_snap_*.xml
traffic_data/
traffic_data_4x4_v2/
traffic_data_c8_smoke/
traffic_data_cologne8/
traffic_data_cologne8_v2/
traffic_data_ingolstadt21/
traffic_data_sumo/
traffic_runs/
traffic_runs_sumo/
_tripinfo_*.xml
wandb/
