__pycache__/
*.pyc
outputs/
wandb/
traffic_data/
traffic_data_sumo/
traffic_runs/
_oracle_cem_snapshot.xml
traffic_data_cologne8/
traffic_runs_sumo/
wandb/
_oracle_multi_snap.xml
_tripinfo_*.xml
traffic_data_ingolstadt21/
